
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: violet;
  width: 69%;
  min-width: 0 auto;
  margin: 0 auto;
}


h1, h2, h3 {
  font-family: cursive;
}

header {
  margin-bottom: 15px;
  display: flex;
  padding: 1%;
  background-color: cyan;
}

header img {
  display: block;
  height: 100px;
}

h1 {
  flex: 5;
  font-size: 2em;
  text-align: center;
  text-shadow: 0px 0px 5px white;
  color: white;
}

h2 {
  color: navy;
}

nav {
  height: 30px;
  display: flex;
  flex: 100%;
}

nav ul {
  display: flex;
  flex: 2;
  list-style-type: none;
  padding: 0;
  margin: 3px auto;
  background-color: cyan;
}

nav li {
  text-align: center;
  display: inline;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

main {
  display: flex;
  margin: 20px auto;
}

article {
  flex: 3;
  padding: 20px 20px 20px 20px;
  background-color: #FFFFF0;

}

aside {
  flex: 1;
  margin: 10 auto;
  padding: 10px 10px 10px 10px;
}

aside img {
  max-width: 100%;
}

.rekt {
  order: 1;
}

.twelve {
  order: 0;
}

.lolwut {
  order: 2;
}

div table {
  width: 200px;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

a:hover {
  color: fuchsia;
  animation: blinker 0.2s linear infinite;
}

@keyframes blinker {  
    50% { color: yellow; }
}
